<header>
		<nav class="be-red white large-padding">
			<ul class="no-list row center-xs around-xs middle-xs">
				<li class="col-md">
<<<<<<< HEAD
					<h1 class="no-margin" id="logo"><%= link_to "Blog Facilito", root_path %></h1>
=======
					<h1 class="no-margin" id="logo">Mousy blog</h1>
				</li>
				<li class="col-md">
					<%= link_to "Inicio", root_path %>
>>>>>>> b3efd1f06225c7dc23f0e2c6c3d53b9de7e7f2fd
				</li>
				<li class="col-md">
					<%= link_to "Articulos", articles_path %>
				</li>
				<% @categories.each do |category| %>
				<li class="col-md">
					<%= link_to category.name, category  %>
				</li>
				<% end %>
				<% if user_signed_in? %>
					<li class="col-md">
						<%= link_to "Cerrar Sesión", destroy_user_session_path, method: :delete %>
					</li>
				<% else %>
					<li class="col-md">
						<%= link_to "Iniciar Sesión", new_user_session_path %>
					</li>
					<li class="col-md">
						<%= link_to "Crear Cuenta", new_user_registration_path %>
					</li>
				<% end %>
			</ul>
		</nav>

	</header>
