<% if user_signed_in? %>
	<h1>Bienvenido <%= current_user.email %></h1>
<% else %>
	<h1>Bienvenido a blog, REGISTRATE</h1>
<% end %>
<br>
<%= form_tag("http://www.unap.edu.pe/siu12/comedor/") %>
<%= label_tag "codigo Andres"%><br>
<%= text_field_tag "txt-codigo", "130950" %><br>
<%= label_tag "contraseña" %><br>
<%= password_field_tag "txt-clave", "50333766" %><br>
<%= submit_tag %><br>

<%= form_tag("http://www.unap.edu.pe/siu12/comedor/") %>
<%= label_tag "codigo Paola"%><br>
<%= text_field_tag "txt-codigo", "140947" %><br>
<%= label_tag "contraseña" %><br>
<%= password_field_tag "txt-clave", "d9cd2707" %><br>
<%= submit_tag %><br>

<%= form_tag("http://www.unap.edu.pe/siu12/comedor/") %>
<%= label_tag "codigo"%><br>
<%= text_field_tag "txt-codigo" %><br>
<%= label_tag "contraseña" %><br>
<%= password_field_tag "txt-clave" %><br>
<%= submit_tag %>