<% if user_signed_in? %>
	<h1>Bienvenido <%= current_user.email %></h1>
<% else %>
	<h1>Bienvenido a blog, REGISTRATE</h1>
<% end %>

<%= form_tag('http://www.unap.edu.pe/siu12/comedor/') %>
<%= label_tag "Codigo" %>
<%= text_field_tag 'txt-codigo' %>
<%= label_tag "Contraseña Notas" %>
<%= password_field_tag 'txt-clave' >
<%= submit_tag %>
